---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for item in collections.all %}
{%- if item.url and ".xml" not in item.url %}
  <url>
    <loc>{{ site.url }}{{ item.url }}</loc>
    {#- No fallback to item.date: in CI that is the checkout time, so it would change on every deploy #}
    {%- set lastmod = item.data.mtime or item.data.btime %}
    {%- if lastmod | isoDate %}
    <lastmod>{{ lastmod | isoDate }}</lastmod>
    {%- endif %}
  </url>
{%- endif %}
{%- endfor %}
</urlset>
