---
title: fabio.earth

---
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.red.min.css"
    >
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav role="menu" class="container">
    <label data-role="burger"><input type="checkbox" /></label>
    <ul role="menubar">
        <li><a href="/index" class="logo-text">fabio<span class="navbar-logo-dot-color">.</span>earth</a></li>
    </ul>
    <ul role="menuitem">
        <li class="nav-item"><a href="/notes">Notes</a></li>
        <li class="nav-item"><a href="/photography">Photography</a></li>
        <li class="nav-item"><a href="/projects">Projects</a></li>
        <li class="nav-item"><a href="/about">About</a></li>
        <li class="nav-item"><button id="themeToggle" class="theme-toggle">
            <span class="icon-moon" data-theme="dark" aria-hidden="true">🌙</span>
            <span class="icon-sun" data-theme="light" aria-hidden="true">☀️</span>
        </button></li>
    </ul>
</nav>
<main class="container">
    {{ content | safe }}
</main>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-BHDX2KYTZY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-BHDX2KYTZY');
</script>
<script src="/assets/js/theme.js" defer></script>
</body>
</html>