---
title: fabio.earth

---
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.red.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav class="container">
    <ul>
        <li><a href="/index" class="contrast"><strong>fabio<span style="color:red;">.</span>earth</strong></a></li>
    </ul>
    <ul>
        <li class="nav-mobile">
            <input type="checkbox" id="menu-toggle" />
            <label for="menu-toggle" class="menu-icon">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </li>
        <li class="nav-item"><a href="/projects">Projects</a></li>
        <li class="nav-item"><a href="/notes">Notes</a></li>
        <li class="nav-item"><a href="/photography">Photography</a></li>
        <li class="nav-item"><a href="/about">About</a></li>
    </ul>
</nav>
<main class="container">
    {{ content | safe }}
</main>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-BHDX2KYTZY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-BHDX2KYTZY');
</script>
</body>
</html>
