---
layout: layout.njk
title: Photography
---

{{ content | safe }}
<section class="gallery">
    {% for image in collections.photographyJpgs %}
        <figure><img src="../{{image}}" alt=""></figure>
    {% endfor %}
</section>
